server:
  port: 8882
  servlet:
    context-path: /boot-eureka-client-two
spring:
  application:
    name: boot-eureka-client-two
eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka
  server:
    waitTimeInMsWhenSyncEmpty: 0
management:
  endpoints:
    web:
      exposure:
        include: "*"