<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qy.mapper.UserMapper">
    <update id="updateUserNameById">
        update tb_user
        set login_name = #{name}
        where id = #{id}
    </update>
    <!--    接口的全类名和namespace的值是一一对应的
            select id,login_name loginName,nick_name nickName,passwd from t_user where id=#{id}
    -->

    <select id="getUserById" resultType="com.qy.entity.User">
        select *
        from t_user
        where id = #{id}
    </select>
    <select id="getList" resultType="com.qy.entity.User">
        select *
        from t_user
    </select>
    <resultMap id="recordCount" type="java.lang.Integer">
        <result column="total" jdbcType="INTEGER"></result>
    </resultMap>
    <resultMap id="userVoList" type="com.qy.vo.UserListVo">
        <result column="id" property="id"></result>
        <result column="login_name" property="loginName"></result>
    </resultMap>
    <select id="getUserList" resultMap="userVoList,recordCount">
        select
        *
        from t_user
        LIMIT 0,10;
        select count(*) as total from t_user;
    </select>
</mapper>